In [1]:
def sum_all(*args):
  return sum(args)
print(sum_all(2,4,5,7))

18

In [4]:
def display_info(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

display_info(name="nihal",age="19",city="ballia")

name:nihal
age:19
city:ballia

In [5]:
#Higher -Order Function
def apply_function(func,x,y):
  return func(x,y)

def multiply(a,b):
  return a*b

print(apply_function(multiply,6,7))

42

In [9]:
#Simple Lambda Function
square = lambda x: x*x

print(square(5))

25

In [10]:
#Lambda function in map
numbers = [1,2,3,4,5]
squares = list(map(lambda x:x*x,numbers))
print(squares)

[1, 4, 9, 16, 25]

In [12]:
#lambda function in filter
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter(lambda x: x % 2 != 0, numbers)
print(list(result))

[1, 3, 5, 7, 9]

In [13]:
#lambda in sorted
people = [("Alice", 30), ("Bob", 25), ("Charlie", 35), ("Diana", 28)]
sorted_people = sorted(people, key=lambda x: x[1])
print(sorted_people)

[('Bob', 25), ('Diana', 28), ('Alice', 30), ('Charlie', 35)]

In [19]:
#Error handling
try:
  res=10/0
  print(res)
except ZeroDivisionError:
  print("cant divide by zero")

cant divide by zero

In [21]:
#try-except-else
try:
    # Trying to divide two numbers
    numerator = 10
    denominator = 0
    result = numerator / denominator
except ZeroDivisionError:
    # This block runs if a ZeroDivisionError occurs
    print("Error: Cannot divide by zero.")
else:
    # This block runs if no exceptions occur
    print("The result is:", result)

Error: Cannot divide by zero.

In [22]:
# try-except-finally
try:
    numerator = 10
    denominator = 0
    result = numerator / denominator
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
finally:
    print("This code runs no matter what.")

Error: Cannot divide by zero.
This code runs no matter what.

In [ ]:
# raising exception
def check_positive(number):
  if number<=0:
    raise ValueError("Number must be positive")
try:
  check_positive(-5)
except ValueError as e:
  print(e)